/* 商品の概要 */

.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  font-family:'Noto Sans JP', sans-serif;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.item-price-box>.item-price {
  font-size: 4vh;
  font-weight: bold;
}

.item-price-box>.item-postage {
  font-size: 16px;
}


.item-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  color: #FFF;
  margin: 20px 0px;
  padding: 1vh 5vw;
}

.or-text {
  font-size: 20px;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 1vh 5vw;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}

.grad-btn {
}
.grad-btn::before {
  content: "続きを読む";
  color: coral;
}
.grad-item {
  position: relative;
  overflow: hidden;
  height: 80px; /*隠した状態の高さ*/
}
.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}
.grad-trigger {
  display: none; /*チェックボックスは常に非表示*/
}
.grad-trigger:checked ~ .grad-btn::before {
  content: "閉じる" /*チェックされていたら、文言を変更する*/
}
.grad-trigger:checked ~ .grad-item {
  height: auto; /*チェックされていたら、高さを戻す*/
}
.grad-trigger:checked ~ .grad-item::before {
  display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}





.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: lemonchiffon;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.detail-value>span {
  color: red;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}



.favorite-btn {
  border-radius: 20px;
  width: 15px;
  min-width: 100px;
  color: rgb(249, 75, 0);
  background-color: #ffffff;
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px 0 10px ;
}

.favorite-btn>span {
  margin-right: 5px;
}

.twitter-icon {
  margin-right: 5px;
}

.facebook-icon {
  margin-right: 5px;
}

.option-warn {
  color: red;
  font-size: 13px;
  padding-top: 20px;
}

.br::before {
  content: "\A" ;
  white-space: pre ;
}


/* /商品の概要 */

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 48px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  background-color: #fff;
  color: black;
  border: solid 2px gold;
  border-radius: 3px;
  transition: .4s;
  width: 50%;
  height: 50%;
}

.comment-btn:hover {
  background: gold;
  color: white;
}

.comment-btn>span {
  font-size: 20px;
}

.comments>h4 {
  text-align: center;
  padding-top: 20px;
}

.comments>p {
  text-align: left;
  padding: 20px 0 10px 10px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: gold;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: gold;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}